body {
  background: #e1e0d8;
  height: 100%;
  min-height: -webkit-fill-available;
}
html {
  height: -webkit-fill-available;
}
#id {
  height: 100%;
}
@font-face {
  font-family: 'HiH';
  src: url('./assets/fonts/HiH-ReginaCursiv.ttf');
}
@font-face {
  font-family: 'Jeff';
  src: url('./assets/fonts/JeffLevine-UnpretentiousJNL.otf');
}
.ui.container {
  width: 1500px !important;
  z-index: 0;
}
.full-size {
  min-height: 100% !important;
  border: 15px solid #3b49ae !important;
}
.full-content {
  min-height: 100vh !important;
}
.none-border {
  border: 0px solid #3b49ae !important;
}
.home-screen-background {
  background: url('./assets/img/PAQUERA_WebLanding_Desktop.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: calc(100vh + 5px);
  margin-top: -200px;
}
.flex-display {
  position: relative;
  width: 100%;
  min-height: calc(100vh - 30px);
  display: flex;
}
.storySection {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.infoSection {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 30px;
}
.width-15 {
  width: 15% !important;
}
.width-20 {
  width: 20% !important;
}
.width-25 {
  width: 25% !important;
}
.width-50 {
  width: 50% !important;
}
.width-60 {
  width: 60% !important;
}
.width-70 {
  width: 70% !important;
}
.width-100 {
  width: 100% !important;
}
.width-900 {
  width: 900px !important;
}
.storySection .storyDiv {
  display: flex;
  width: 900px !important;
}
.infoSection .infoDiv {
  display: flex;
  width: 1240px !important;
}
.storyContentDiv, .infoContentDiv {
  position: absolute;
  background: #e1e0d8;
  margin-left: 9.5%;
  width: 81.5%;
  margin-top: 9.7%;
  height: 61.7%;
  border: 5px solid #3b49ae;
  display: flex;
  justify-content: center;
  align-items: center;
}
.infoDiv .width-25 {
  width: 25% !important;
  height: 730px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
.infoDiv .width-25 .width-100 {
  width: 60% !important;
}
.infoContentDiv {
  margin-left: 10.5%;
  width: 79.5%;
  margin-top: 5.8%;
  height: 79%;
  border: 3px solid #3b49ae;
  text-align: left !important;
}
.storyContentDiv p, .infoContentDiv p {
  padding: 20px;
  font-family: 'HiH';
  font-size: 20px;
  color: #3b49ae;
  text-align: center;
}
.full-image {
  width: 100%;
  max-width: 100px;
}
.full-image-min-200 {
  width: 100%;
  max-width: 200px;
}
.flex-space-end-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
.flex-space-around {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}
.mt-20 {
  margin-top: 20px !important;
}
.mb-20 {
  margin-bottom: 20px !important;
}
.cookie-dialog-section {
  position: relative;
  width: 90%;
  max-width: 550px;
  min-width: 400px;
}
.cookie-alert-div {
  width: 63%;
  height: 62%;
  top: 17.5%;
  left: 19%;
  border: 8px solid #3b49ae;
  background: #dc9541;
  position: absolute;
  padding: 25px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
}
.cookie-alert-div .title h1 {
  margin-top: 0px;
  text-align: center;
  font-family: 'Jeff';
  font-size: 36px;
  font-weight: lighter;
  margin-bottom: 0px;
  color: #3b49ae;
  padding-bottom: 0px;
}
.cookie-alert-div p {
  font-family: 'HiH';
  text-align: center;
  font-size: 16px;
  color: #3b49ae;
}
.cookie-alert-div button {
  padding: 12px;
  background: #3b49ae;
  color: white;
  border: none;
  font-family: 'Jeff';
  letter-spacing: 2px;
  font-weight: lighter;
  cursor: pointer;
  width: 80px;
}
.m-0 {
  margin: 0px !important;
}
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
  margin-left: 15px !important;
  z-index: 2;
}
.header a {
  font-family: HiH;
  font-size: 32px;
  padding-left: 20px;
  padding-right: 20px;
  color: #e1e0d8;
  z-index: 100;
  transition: 0.2s ease-in;
}
.header a:hover {
  color: #dc9541 !important;
  transition: 0.2s ease-in;
}
.header .active {
  color: #dc9541 !important;
}
.header img {
  width: 100px;
}
.pl-20 {
  padding-left: 20px !important;
}
.pr-20 {
  padding-right: 20px !important;
}
.footer-desktop {
  display: flex;
  justify-content: space-between;
  position: sticky !important;
  height: 65px;
  background: #3b49ae;
  color: #e1e0d8;
  position: relative;
}
.footer-desktop .subscribe {
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding-left: 50px;
  z-index: 2;
}
.footer-desktop .ui.input>input {
  font-family: Jeff;
  color: #e1e0d8;
  background: #3b49ae !important;
  border: 3px solid #e1e0d8 !important;
  border-radius: 0px !important;
  padding: 5px;
  min-width: 300px;
}
.footer-desktop .ui.input>input::placeholder {
  color: #e1e0d8;
  text-align: center;
  letter-spacing: 2px;
  font-weight: lighter !important;
}
.footer-desktop button {
  background: #e1e0d8 !important;
  padding: 5px;
  font-size: 20px;
  font-family: 'Jeff';
  font-weight: lighter;
  border: none;
  letter-spacing: 2px;
  color: #3b49ae !important;
  transition: 0.2s ease-in;
}
.footer-desktop a button:hover {
  color: #dc9541 !important;
  transition: 0.2s ease-in;
}
.footer-desktop p {
  width: 300px;
  font-family: 'HiH';
  padding-left: 30px;
  font-size: 17px;
  line-height: 18px;
  font-weight: 100;
}
.f-right {
  float: right;
}
.footer-desktop .f-right {  
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100%;
  margin-right: 50px;
}
.footer-desktop h3 {
  font-family: 'Jeff';
  font-weight: 100;
  font-size: 16px;
  letter-spacing: 1px;
  word-spacing: 3px;
  margin-top: 0;
}
.footer-mobile {
  display: none;
}
.content {
  position: relative;
  display: flex !important;
  justify-content: center;
  align-items: center;
  padding: 0px !important;
  min-height: calc(100vh - 225px) !important;
  margin-top: 0px;
  z-index: -1;
}
.stock-content {
  position: relative;
  display: flex !important;
  justify-content: center;
  align-items: center !important;
  padding-top: 0px;
  /* min-height: calc(100vh - 175px) !important; */
  min-height: calc(100vh - 175px) !important;
  margin-bottom: 30px;
  margin-top: -50px;
  z-index: -1;
}
.content .width-70 {
  text-align: center;
}
.home-image {
  text-align: center;
  width: 80%;
  max-width: 700px;
}
.home-image-2 {
  display: none;
}
.width-15 .home-image {
  max-width: 180px;
  width: 100%;
  position: relative;
}
.right-footer {
  display: flex;
  justify-content: center;
  align-items: center;
}
.social-icons {
  display: flex;
  justify-content: center;
  margin-top: 0px;
  margin-right: 20px;
}
.social-icons .social-icon {
  color: #e1e0d8;
  transition: 0.2s ease-in;
}
.social-icons .social-icon:hover {
  color: #dc9541 !important;
  transition: 0.2s ease-in;
}
.social-icons i {
  border: 3px solid;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  font-size: 20px !important;
  padding-top: 8px;
  margin-left: 10px;
  margin-right: 10px;
}
.stockSection {
  margin-top: 80px;
  width: 80%;
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 30px;
  /* border: 3px solid #3b49ae; */
  /* border-top: 3px solid #3b49ae;
  border-bottom: 3px solid #3b49ae; */
}
.stockSection section {
  width: 100%;
  padding-left: 15px;
  padding-right: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  border: 3px solid #3b49ae;
  /* border-top: 3px solid #3b49ae;
  border-bottom: 3px solid #3b49ae; */
}
.stockSection h2 {
  font-family: Jeff !important;
  font-size: 24px;
  color: #3b49ae;
}

.infoContent {
  position: relative;
  padding: 20px;
  font-family: 'HiH';
  font-size: 20px;
  color: #3b49ae;
  text-align: center;
  border: 3px solid #3b49ae;
  width: 80%;
}

.height-webkit-fill-available {
  flex: 1;
  display: flex;
  height: -webkit-fill-available;
  flex-direction: column;
}
@media only screen and (max-width: 1320px) {
  .home-screen-background {
    margin-top: -150px !important;
    min-height: calc(100vh - 37px);
    margin-bottom: -40px;
  }
  .cookie-alert-div .title h1 {
    font-size: 27px;
  }
  .cookie-alert-div button {
    padding: 10px;
    font-family: 'Jeff';
    letter-spacing: 1px;
    font-size: 12px;
    cursor: pointer;
    width: 55px;
  }
  .cookie-alert-div p {
    font-size: 12px;
  }
  .width-15 .home-image {
    width: 100%;
    position: relative;
  }
  .content {
    margin-top: 0px;
    min-height: calc(100vh - 227px) !important;
  }
  .footer-desktop {
    display: none;
  }
  .footer-mobile {
    display: block;
    margin-top: 0px;
  }
  .footer-mobile {
    position: sticky !important;
    min-height: 65px;
    background: #3b49ae;
    color: #e1e0d8;
  }
  .footer-mobile .subscribe {
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    margin-top: 30px;
    margin-bottom: 8px;
    z-index: 2;
  }
  .ui.input {
    z-index: 2;
  }
  .footer-mobile .ui.input>input {
    font-family: Jeff;
    color: #e1e0d8;
    background: #3b49ae !important;
    border: 3px solid #e1e0d8 !important;
    border-radius: 0px !important;
    padding: 5px;
    min-width: 200px;
  }
  .footer-mobile .ui.input>input::placeholder {
    color: #e1e0d8;
    text-align: center;
    letter-spacing: 2px;
    font-weight: lighter !important;
  }
  .footer-mobile button {
    background: #e1e0d8 !important;
    padding: 5px;
    font-size: 18px;
    padding-top: 6px;
    padding-bottom: 7px;
    font-family: 'Jeff';
    font-weight: lighter;
    border: none;
    letter-spacing: 2px;
    color: #3b49ae;
    z-index: 2;
    transition: 0.2s ease-in;
  }
  .footer-mobile button:hover {
    color: #dc9541 !important;
    transition: 0.2s ease-in;
  }
  .footer-mobile p {
    font-family: 'HiH';
    font-size: 14px;
    line-height: 16px;
    font-weight: 100;
    padding-left: 30px;
    padding-right: 30px;
    top: 10px;
    text-align: center;
    position: relative;
    margin-bottom: 8px;
  }
  .footer-mobile h3 {
    text-align: center;
    font-family: 'Jeff';
    font-weight: 100;
    font-size: 14px !important;
    letter-spacing: 1px;
    word-spacing: 3px;
    padding-top: 15px;
    padding-bottom: 20px;
  }
  .social-icons {
    display: flex;
    justify-content: center;
    margin-right: 0px;
  }
  .social-icons i {
    border: 3px solid;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    font-size: 14px !important;
    padding-top: 8px;
    margin-left: 15px;
    margin-right: 15px;
  }
  .storySection .storyDiv {
    display: flex;
    width: 960px !important;
    position: relative;
    left: 25px;
  }
  .storySection .storyDiv .width-25 img {
    width: 80% !important;
  }
  .storyContentDiv {
    position: absolute;
    background: #e1e0d8;
    margin-left: 7.8%;
    width: 80%;
    margin-top: 8%;
    height: 61.7%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .infoSection .infoDiv {
    display: flex;
    width: 1024px !important;
  }
  .infoDiv .width-25 {
    width: 25% !important;
    height: 640px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
  }
  .infoDiv .width-25 .width-100 {
    width: 80% !important;
  }
  .infoContentDiv {
    margin-left: 10.5%;
    width: 79.5%;
    margin-top: 7.8%;
    height: 73%;
    text-align: left !important;
  }
  .storyContentDiv,.infoContentDiv {
    border: 3px solid #3b49ae;
  }
  .storyContentDiv p {
    padding: 16px;
    font-family: 'HiH';
    font-size: 20px;
    color: #3b49ae;
  }
  .infoContent {
    padding: 16px;
    font-family: 'HiH';
    font-size: 15px;
    color: #3b49ae;
  }
  .infoContentDiv p {
    padding: 16px;
    font-family: 'HiH';
    font-size: 15px;
    color: #3b49ae;
  }
  .header a {
    font-size: 33px;
  }
  
  .cookie-dialog-section .width-50 {
    width: 35% !important;
  }
  .cookie-dialog-section .top-left {
    position: relative;
    left: 5%;
  }
  .cookie-dialog-section .top-right {
    position: relative;
    left: 24%;
  }
  .cookie-dialog-section .bottom-left {
    position: relative;
    left: 6%;
  }
  .cookie-dialog-section .bottom-right {
    position: relative;
    left: 24%;
  }
}
@media only screen and (max-width: 1024px) {
  .height-webkit-fill-available {
    flex: none;
    display: flex;
    height: auto;
    flex-direction: column;
  }
  .width-15 {
    margin-top: 70px;
    margin-bottom: 70px;
  }
  .width-15 .home-image {
    width: 100%;
    position: relative;
  }
  .storySection .storyDiv {
    display: flex;
    width: 780px !important;
    left: 10px;
  }
  .storySection .storyDiv .width-25 img {
    width: 80% !important;
    margin-top: 15px;
    margin-bottom: 15px;
  }
  .storyContentDiv {
    position: absolute;
    background: #e1e0d8;
    margin-left: 7.5%;
    width: 80.5%;
    margin-top: 9.5%;
    height: 61.5%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .storyContentDiv p {
    padding: 16px;
    font-family: 'HiH';
    font-size: 16px;
    color: #3b49ae;
  }
  .stockSection {
    width: 100%;
    margin-bottom: 0px;
  }
  .infoDiv .width-25 {
    height: 620px;
  }
  .infoContentDiv {
    margin-left: 10.2%;
    width: 80%;
    margin-top: 7.8%;
    height: 76%;
    text-align: left !important;
  }
  .infoSection .infoDiv {
    display: flex;
    width: 880px !important;
  }
}
@media only screen and (max-width: 900px) {
  .home-screen-background {
    margin-top: -150px !important;    
    min-height: calc(100vh - 37px);
  }
  .stockSection {
    width: 100%;
    margin-bottom: 0px;
  }
  
  .infoSection .infoDiv {
    display: flex;
    width: 800px !important;
  }
  .infoDiv .width-25 {
    height: 600px;
  }
  .infoContentDiv {
    margin-left: 10.5%;
    width: 80%;
    margin-top: 7.8%;
    height: 78%;
    text-align: left !important;
  }
  .storyContentDiv {
    position: absolute;
    background: #e1e0d8;
    margin-left: 7.7%;
    width: 80.5%;
    margin-top: 9.8%;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .width-15 .home-image {
    width: 100%;
    position: relative;
  }
  .storySection .storyDiv {
    left: 20px;
  }
  .footer-mobile {
    display: block;
    margin-top: 0px;
  }
  .storySection .storyDiv .width-25 img {
    width: 80% !important;
    margin-top: 15px;
    margin-bottom: 15px;
  }
}
@media only screen and (max-width: 767px) {
  .home-screen-background {
    margin-top: -150px !important;
    background-image: url('./assets/img/PAQUERA_WebLanding_Desktop.jpg');
    background-position: center;
    min-height: calc(100vh - 34px);
  }
  .stockSection {
    width: 100%;
    margin-bottom: 0px;
  }
  .stock-content {
    margin-top: -10px;
  }
  .ui.container {
    width: auto!important;
    margin-left: 0em !important;
    margin-right: 0em !important;
  }
  .full-size {
    min-height: 100vh !important;
    border: 8px solid #3b49ae !important;
  }
  .cookie-alert-div {
    border: 4px solid #3b49ae !important;
  }
  .cookie-dialog-section {
    position: relative;
    width: 90%;
    max-width: 500px;
    min-width: 300px;
    top: -20px;
  }
  .flex-space-end-between .mb-20 {
    margin-bottom: 20px !important;
  }
  .content {
    min-height: calc(100vh - 224px) !important;
  }
  .width-15 {
    width: 15% !important;
  }
  .width-70 {
    width: 70% !important;
  }
  
  .header a {
    font-family: HiH;
    font-size: 18px;
    padding-left: 10px;
    padding-right: 10px;
    color: #3b49ae;
  }
  .header img {
    width: 100px;
  }
  .storySection .storyDiv, .infoSection .infoDiv {
    display: flex;
    width: 600px !important;
    left: 10px;
  }
  .infoDiv .width-25 {
    width: 25% !important;
    height: 600px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
  }
  .infoDiv .width-25 .width-100 {
    width: 100% !important;
  }
  .infoContentDiv {
    margin-left: 9.5%;
    width: 81.5%;
    margin-top: 10%;
    height: 80%;
    border: 3px solid #3b49ae;
    text-align: left !important;
  }
  .storyContentDiv, .infoContentDiv {
    border: 3px solid #3b49ae;
  }
  .infoContent {
    padding: 15px;
    font-family: 'HiH';
    font-size: 13px;
    color: #3b49ae;
    width: 90%;
  }
  .storyContentDiv p, .infoContentDiv p {
    padding: 15px;
    font-family: 'HiH';
    font-size: 13px;
    color: #3b49ae;
  }
  .stockSection {
    margin-top: 40px;
  }
  .stockSection section {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    border: 3px solid #3b49ae;
  }
  .cookie-alert-div {
    height: 85% !important;
  }
  .cookie-dialog-section .bottom-left {
    position: relative;
    top: 55px !important;
  }
  .cookie-dialog-section .bottom-right {
    position: relative;
    top: 55px !important;
  }
  .footer-mobile {
    display: block;
    margin-top: -7px;
  }
  .storySection .storyDiv .width-25 img {
    width: 80% !important;
    margin-top: 15px;
    margin-bottom: 15px;
  }
  .storyContentDiv {
    position: absolute;
    background: #e1e0d8;
    margin-left: 7.6%;
    width: 80.5%;
    margin-top: 9%;
    height: 62%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
@media only screen and (max-width: 600px) {
  .home-screen-background {
    background-image: url('./assets/img/image0.jpg');
    background-position: center !important;
    min-height: calc(100vh - 2px);
  }
  .stock-content {
    margin-top: -20px;
  }
  .cookie-alert-div {
    padding: 10px;
  }
  .cookie-alert-div .title h1 {
    font-size: 16px;
  }
  .cookie-alert-div button {
    padding: 8px;
    font-family: 'Jeff';
    letter-spacing: 1px;
    font-size: 12px;
    cursor: pointer;
    width: 60px;
  }
  .cookie-alert-div p {
    font-size: 9px;
  }
  .header a {
    font-family: HiH;
    font-size: 16px;
    padding-left: 8px;
    padding-right: 8px;
    color: #e1e0d8;
  }
  .header img {
    width: 60px;
  }
  .storyDiv .width-25 {
    width: 25% !important;
    height: 450px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
  }
  .infoDiv .width-25 {
    width: 25% !important;
    height: 550px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
  }
  .infoDiv .width-25 .width-100 {
    width: 100% !important;
  }
  .storySection .storyDiv {
    width: 360px !important;
  }
  .infoSection .infoDiv {
    display: flex;
    width: 330px !important;
  }
  .storyContentDiv {
    margin-left: 10%;
    width: 80.2%;
    margin-top: 34.8%;
    height: 43.5%;
    border: 3px solid #3b49ae;
  }
  .infoContentDiv {
    margin-left: 9.5%;
    width: 81.5%;
    margin-top: 10%;
    height: 87.5%;
    border: 3px solid #3b49ae;
    text-align: left !important;
  }
  .infoContent {
    padding: 10px;
    padding-left: 5px;
    padding-right: 5px;
    font-family: 'HiH';
    font-size: 11px;
    color: #3b49ae;
  }
  .storyContentDiv p, .infoContentDiv p {
    padding: 10px;
    font-family: 'HiH';
    font-size: 11px;
    color: #3b49ae;
  }
  .footer-mobile {
    margin-top: 0px;
  }
  .storySection .storyDiv, .infoSection .infoDiv {
    left: 0px;
  }
  .storySection .storyDiv .width-25 img {
    margin-top: 0px;
    margin-bottom: 0px;
  }
}

@media only screen and (max-width: 450px) {
  
  .full-size {
    min-height: -webkit-fill-available !important;
    border: 8px solid #3b49ae !important;
  }
  .height-webkit-fill-available {
    flex: 1;
    display: flex !important;
    height: -webkit-fill-available;
    flex-direction: column;
  }
  .flex-display {
    position: relative;
    width: 100%;
    min-height: -webkit-fill-available;
    display: flex;
  }
  .full-content {
    min-height: calc(100vh) !important;
    min-height: 0px !important;
  }
  .header {
    margin-left: 0px !important;
  }
  .home-screen-background {
    background-image: url('./assets/img/image0.jpg');
    background-position: center !important;
    min-height: -webkit-fill-available !important;
  }
  .content {
    min-height: calc(100vh - 192px) !important;
    min-height: 0px !important;
    flex: 1;
  }
  .footer-mobile {
    margin-top: 0px;
  }
  .footer-mobile button {
    padding-bottom: 7px;
  }
  .width-15 {
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .home-image {
    display: none;
  }
  .home-image-2 {
    display: block;
    text-align: center;
    width: 90%;
  }
}
@media only screen and (max-width: 400px) {
  .header a {
    font-size: 15px;
  }
  .header img {
    width: 60px;
  }
  .infoDiv .width-25 .width-100 {
    width: 100% !important;
  }
  .storySection .storyDiv {
    width: 320px !important;
  }
  .infoSection .infoDiv {
    display: flex;
    width: 300px !important;
  }
  .storyDiv .width-25 {
    height: 470px;
  }
  .storyContentDiv {
    margin-left: 10%;
    width: 80.5%;
    margin-top: 40.8%;
    height: 43.5%;
    border: 3px solid #3b49ae;
  }
  .storyContentDiv p {
    font-size: 10px;
  }
  .infoContentDiv p {
    font-size: 10px;
  }
  .footer-mobile .ui.input>input {
    min-width: 220px;
  }
  .footer-mobile {
    margin-top: 0px;
  }
}
.f-bold {
  font-weight: bold;
}
.storyContentDiv .f-bold, .infoContentDiv .f-bold {
  font-family: Jeff;
}
.fade-in {
  animation: fadeIn ease 2s;
  -webkit-animation: fadeIn ease 2s;
  -moz-animation: fadeIn ease 2s;
  -o-animation: fadeIn ease 2s;
  -ms-animation: fadeIn ease 2s;
}

@keyframes fadeIn{
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

#stockist-widget .stockist-horizontal .stockist-side-panel {
  top: 20px !important;
}
.f-jeff {
  font-family: 'Jeff';
}
.mb-30 {
  margin-bottom: 30px !important;
}


/* Age Cookie*/
.age-text {
  word-spacing: 5px !important;
  padding-bottom: 15px;
  font-size: 32px !important;
  font-family: 'Jeff';
  padding-top: 15px !important;
}

.age-text2 {
  font-size: 16px !important;
  word-spacing: 0px !important;
  padding: 35px !important;
  padding-top: 35px !important;
  font-family: 'HiH';
}

.age-button {
  background: white !important;
  border: 3px solid black !important;
  border-radius: 5px !important;
  padding: 15px 30px !important;
  color: black !important;
  font-family: 'Jeff' !important;
  margin-left: 30px !important;
  margin-right: 30px !important;
  font-size: 20px !important;
}

@media (max-width: 599px) {
  .age-text {
    font-size: 27px !important;
  }
  .age-button {
    font-size: 16px !important;
    padding-top: 5px 10px !important;
    border: 2px solid black !important;
    margin-left: 15px !important;
    margin-right: 15px !important;
  }
  .age-text2 {
      padding-left: 30px !important;
      padding-right: 30px !important;
      font-size: 14px !important;
  }
  .age-logo {
      width: 240px;
      margin-top: -30px !important;
      padding-top: 0px !important;
  }
}

.age-logo {
  padding-top: 0px !important;
  margin-top: -60px !important;
  padding-bottom: 0px !important;
  margin-bottom: -30px !important;
}
.age-container {
  background-image: url('./assets/img/PAQUERAdesktop.jpg');
  position: fixed;
  background-position: center center;
  background-size: cover;
  z-index: 2 !important;
  width: calc(100vw - 60px);
  height: calc(100vh - 60px); 
  margin-left: 30px;
  margin-top: 30px;
  overflow: hidden;
}

.age-inner-container {
  position: relative;
  background-color: white;
  width: 350px !important;
  padding-top: 30px;
  padding-bottom: 30px;
  margin: auto;
  margin-top: 25vh !important;
}
@media (max-width: 599px) {
  .age-container {
    margin: 0px !important;
    background-image: url('./assets/img/PAQUERAmobile.jpg');
    background-position: center;
    background-size: cover;
    width: calc(100vw);
    height: calc(100vh); 
  }
  .age-inner-container {
      width: 90vw !important;
  }
}
.flex-space-evenly {
    display: flex;
    justify-content: space-evenly;
    margin-top: 30px;
}
.flex-center {
    display: flex;
    justify-content: center;
    margin-top: 30px !important;
}

.shopify-buy-frame--product {
  max-width: 180px !important;
  height: 80px !important;
}
.shopify-buy__btn {
  background: black !important;
}